
# Created by https://www.gitignore.io/api/c++,windows,eclipse
# Edit at https://www.gitignore.io/?templates=c++,windows,eclipse

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Locally stored "Eclipse launch configurations"
*.launch

# CDT- autotools
.autotools

# sbteclipse plugin
.target

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

### Eclipse Patch ###
# Eclipse Core
.project

# Annotation Processing
.apt_generated

.sts4-cache/

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/c++,windows,eclipse
/Debug/
